extends layout

block content
  link(rel='stylesheet', href='/css/calendar/calendar.css')

  //- cf)
  //- JSON.stringify 를 사용하면 
  //- router 의 데이터를 view template 로 가져올 때 생성되는 
  //- 불필요한 데이터가 포함되지 않는다.
  //- !{}: 괄호 안의 내용을 escaping 하지 않고 코드 그대로 출력
  script.
    const holiData = !{JSON.stringify(holiData)}
    console.log(holiData)
  script(src="/js/calendar/calendar.js")
  script(src="/js/calendar/search.js")
  section.calendar.container
    div.calendar.main
      div.calendar_tools
        div.button_box
          button.prev
          div.number_box
            h2.year
            h1.month
          button.next
          button.today today
        form(method="POST").search_box
          input(type="text", placeholder="공연 일정 검색").input_search
          button(type="button").btn_search
          button(type="button").btn_search_detail 상세 
            div.btn_search_detail_arrow.active
      div.search_detail_dropdown_box.visible
        form(method="POST").search_detail_dropdown
          div.search_detail_input_box
            label(for="input_search_date") 기간
            input(type="date", name="search_start")#input_search_start
            span -
            input(type="date", name="search_end")#input_search_end
          div.search_detail_input_box
            label(for="input_search_title") 제목
            input(type="text", name="search_title", placeholder="제목")#input_search_title
          div.search_detail_input_box
            label(for="input_search_place") 장소
            input(type="text", name="search_place", placeholder="장소")#input_search_place
          div.search_detail_input_box
            label(for="input_search_cast") 출연진
            input(type="text", name="search_cast", placeholder="출연진")#input_search_cast
          //- cf) 지역, 장르는 DB 에서 데이터를 받아와 for in (객체 내 속성 iterate) 을 사용
          div.search_detail_input_box
            label(for="input_search_loc") 지역
              div.search_loc_dropdown_box
                for loc in locData
                  input(type="checkbox", name=`${loc.eng}`, value=`${loc.eng}`, id=`${loc.eng}`)
                  label(for=`${loc.eng}`)= loc.kor
          div.search_detail_input_box
            label(for="input_search_genre") 장르
              div.search_genre_dropdown_box
                for genre in genreData
                  input(type="checkbox", name=`${genre.id}`, value=`${genre.id}`, id=`${genre.id}`)
                  label(for=`${genre.id}`)= genre.name
          button(type="button").btn_detail_search 검색
      table.calendar
        thead
          tr
            th Sun
            th Mon
            th Tue
            th Wed
            th Thu
            th Fri
            th Sat
        tbody
    div.calendar.modal
      div.calendar.modal_content
        button(type="button").modal.btn_close X
        div.modal.main
          div.modal.image 이미지
          div.modal.button_box
            button(type="button").modal#btn_info 상세정보
            button(type="button").modal#btn_ticketing 예매하기
        div.modal.desc
          div.modal.title 
            h1 제목입니다
            label(for="input_add_list") 찜하기
            input(type="checkbox").modal#input_add_list
          div.modal.body
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ut. Corporis laudantium deleniti voluptate obcaecati, atque distinctio itaque quidem autem porro dicta alias et nostrum fugit minima id perspiciatis sint!
    aside.calendar.my_schedule
      div.ticket_shape
        div.ticket_shape.header 나의 일정
          div.ticket_shape.barcode
          div.ticket_shape.cut
        div.ticket_shape.body
          div.ticket_shape.content
            ul 
              li 가
              li 나
              li 다
              li 라
              li 마
              li 바
              li 사
              li 아
              li 자
              li 차
          div.bg_image
    div.bg_blur